h1 {
  text-align: center;
  margin: 16px 0px;
}

.salon-map {
  background: #003049;
  height: 250px;
  width: 300px;
  margin: 0px 0px 24px 0px;
}

.pro-cta {
  text-align: center;
  margin: 12px auto;
}