/* #d62828; */

article {
  border: 3px solid #003049;
  margin: 4px 0px;
  border-radius: 0.25rem;
}

h2 {
  font-size: 1.5em;
}

p {
  text-align: left;
  margin: 0px;
}

.service-container {
  margin: 12px 4px;
  align-items: center;
  justify-content: space-around;
}

.price {
  text-align: right;
}
